section.Area1 {background-color: #FFFFCC; visibility: hidden; width: 600px; position: relative; left: 80px;}
section.Area2 {background-color: #DCDCDC; visibility: hidden; width: 600px; position: relative; left: 80px}
#corgipicture {padding: 5pt; float: right; height: 25%; width: 25%}
